<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Characters</key>
	<array>
		<dict>
			<key>image</key>
			<string>imagehere</string>
			<key>name</key>
			<string>Brad</string>
			<key>speed</key>
			<string>3</string>
			<key>triggerSpeed</key>
			<string>0.5</string>
			<key>reloadSpeed</key>
			<string>5.5</string>
			<key>energy</key>
			<string>250</string>
			<key>skills</key>
			<array>
				<string>range</string>
				<string>ammo</string>
			</array>
		</dict>
		<dict>
			<key>image</key>
			<string>imagehere</string>
			<key>name</key>
			<string>Keller</string>
			<key>speed</key>
			<string>2</string>
			<key>triggerSpeed</key>
			<string>0.4</string>
			<key>reloadSpeed</key>
			<string>6</string>
			<key>energy</key>
			<string>150</string>
			<key>skills</key>
			<array/>
		</dict>
		<dict>
			<key>image</key>
			<string>imagehere</string>
			<key>name</key>
			<string>Paulie</string>
			<key>speed</key>
			<string>2</string>
			<key>triggerSpeed</key>
			<string>0.7</string>
			<key>reloadSpeed</key>
			<string>4.9</string>
			<key>energy</key>
			<string>350</string>
			<key>skills</key>
			<array>
				<string>close</string>
				<string>ammo</string>
			</array>
		</dict>
		<dict>
			<key>image</key>
			<string>imagehere</string>
			<key>name</key>
			<string>Marl</string>
			<key>speed</key>
			<string>2.5</string>
			<key>triggerSpeed</key>
			<string>1.1</string>
			<key>reloadSpeed</key>
			<string>5.8</string>
			<key>energy</key>
			<string>250</string>
			<key>skills</key>
			<array>
				<string>close</string>
				<string>range</string>
				<string>ammo</string>
			</array>
		</dict>
		<dict>
			<key>image</key>
			<string>imagehere</string>
			<key>name</key>
			<string>Sarah</string>
			<key>speed</key>
			<string>2</string>
			<key>triggerSpeed</key>
			<string>0.3</string>
			<key>reloadSpeed</key>
			<string>7</string>
			<key>energy</key>
			<string>200</string>
			<key>skills</key>
			<array>
				<string>ammo</string>
			</array>
		</dict>
		<dict>
			<key>image</key>
			<string>imagehere</string>
			<key>name</key>
			<string>Ted</string>
			<key>speed</key>
			<string>4</string>
			<key>triggerSpeed</key>
			<string>0.9</string>
			<key>reloadSpeed</key>
			<string>6.8</string>
			<key>energy</key>
			<string>150</string>
			<key>skills</key>
			<array/>
		</dict>
		<dict>
			<key>image</key>
			<string>imagehere</string>
			<key>name</key>
			<string>Freddie</string>
			<key>speed</key>
			<string>3</string>
			<key>triggerSpeed</key>
			<string>0.5</string>
			<key>reloadSpeed</key>
			<string>4.4</string>
			<key>energy</key>
			<string>300</string>
			<key>skills</key>
			<array>
				<string>close</string>
				<string>range</string>
			</array>
		</dict>
		<dict>
			<key>image</key>
			<string>imagehere</string>
			<key>name</key>
			<string>Amber</string>
			<key>speed</key>
			<string>2</string>
			<key>triggerSpeed</key>
			<string>1.2</string>
			<key>reloadSpeed</key>
			<string>8.2</string>
			<key>energy</key>
			<string>150</string>
			<key>skills</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
